body{
    max-width: 1280px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color:fff;

}
main{
    margin-top: 5%;
    }
footer{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    justify-content: center;
    align-items: center;
}
h2{
    color: #07eff7;
}
h3{
    color:#07eff7;
}
a{
    text-decoration: none;
    color: #07eff7;
}
.col01{
    width: 40%;
    height: 300px;
    float: left;
    padding-left: 5%;
    padding-top: 8%;
    font-family: 'Share Tech Mono', monospace;
    color: #07eff7;

}

.col02{
    width: 25%;
    height: 300px;
    float: left;
}
.col03{
    width: 25%;
    height: 300px;
    float: left;
}
.sobre-mim{
    width: 100%;
    display: table;
    margin-top: 5%;
    padding-hight: 15%;
    padding-left: 15%;
    
}
.meus-projetos{
  display: table; 
  background-color:hsla(0, 0%, 33%, 0.329);
  
  
}
.info-contato{
   text-align: center;
}
.foto-perfil{
    width: 100%;
    margin: 5% 5% 5% 10%;
}

.icone:hover{
    transform: scale(1.2);
}
.botao-menu:hover{
    transform: scale(1.1);
}

.menu-lateral ul,li {
    display: flex;
    margin-left: 25%;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    
}
.menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.botao-menu{
    width: 150px;
    padding: 15px;
    font-size: 18px;
    background-color: #9b3180;
    border-bottom: none;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 3px 3px #07eff7;
    border: none;
    color:#07eff7;
    font-size: 21px;
    }

.destaque {
    border-radius: 10px;
    background-color:  hsla(0, 0%, 33%, 0.329);
    text-align: center;
    
} 

.cartao-projetos {
        width: 20%;
        height: 100%;
        float: left;
        flex-wrap: wrap;
        border-radius: 5px;
        padding-left: 8%;
        padding-right: 2%;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 10px;
        color: #f0f0f0;
    }

    .listagem-projetos{
        width: 100%;
        height: 60px;
        border-radius: 5px;
        text-align: center;
        padding-top: 3%;
        margin-top: 3%;
        font-size: 15px;
        background-color: hsla(0, 0%, 33%, 0.329);
        box-shadow: 1px 1px 1px 1px #07eff7;
        margin-bottom: 5px;
            
    }

    .screenshot {
        width: 100%;
        height: 40%;
        border-radius: 5px;
        justify-content:center;
        align-items: center;
        box-shadow: 2px 2px  hsla(0, 0%, 33%, 0.692);
    }

    .formulario{
        display: table;
        padding: 40px;
        width: 50%;
        margin: auto;
        border-radius:8px;
        border-color: hsl(249, 10%, 26%) ;
        color: hsl(249, 10%, 26%) ;
        margin-top:20px;
        
        
    }
    .grid{
        display: table;
        width: 100%;
        height: 56px;
        border-radius: 8px;
        border-color:hsl(249, 10%, 26%) ;
        background-color: hsla(0, 0%, 33%, 0.329);
        box-shadow: 2px 2px 2px hsl(0, 0%, 45%) ;
        color: #747474;
    }
    textarea{
    width: 100%;
    background-color: hsla(0, 0%, 33%, 0.329);
    box-shadow: 2px 2px 2px hsl(0, 0%, 45%) ;; 
    border: none;  
    border-radius: 8px;
    color: #747474;
    }
    .botao{
        width: 80px;
        border-radius: 5px;
        border: none;
        color:#1a1a1a;
        background-color:  #07eff7;
        font-size: 22px;
              
    }
    .nome{
        border: solid 1px;
        border-radius: 5px;
        color: #9b3180;
        font-size: 12px;
        background-color: #1a1a1a;
       
    }
.descricao{
    text-align: justify;
    
} 
.icone {

    width: 32px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
    filter: invert(1);
    transition: 0.3s ease-in-out;
    padding: 5px;
    margin: 5px;
}
.icone:hover{
    transform: scale(1.2);
} 

@media all and (max-width:768px){

    .col01, .col02, .col03, .sobre-mim, .projetos, .contato{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }

    .menu-lateral, .botao-menu {
        visibility: hidden;
    }

.col02{
    width: 50%;
    position: relative;
    text-align: center;
}
.foto-perfil{
    transform: translate(-50%);
}
}






